@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --secondary-bg: #f7f7f7;
  --muted-text: #555555;
  --accent: #ff851b;
}

body.dark {
  --bg-color: #121212;
  --text-color: #ededed;
  --secondary-bg: #1e1e1e;
  --muted-text: #a0a0a0;
  --accent: #ff851b;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: 'Comfortaa','Playfair Display', sans-serif;
}
